%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Combofonts
        %h5 Webfont Combination Application
        %p Combofonts is a personal project I worked on which takes the google library of webfonts and provides ideal font pairs. The application asks a series of questions based on the tone and mood of the context, provides a few alternative results, and then gives the markup to include in any website. It is targeted towards developers or those who are not as familiar with typography.
        %a{:href => 'http://www.combofonts.com', :target => '_blank'} combofonts.com
      .item-image
        = image_tag('work/combofonts-devices.png')
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-splash-desktop.jpg')
        .tab
          = image_tag('work/cf-splash-desktop.jpg')
        .mob
          = image_tag('work/cf-splash-mobile.jpg')
      .item-text
        %h3 Splash Page
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-q1-desktop.jpg')
        .tab
          = image_tag('work/cf-q1-desktop.jpg')
        .mob
          = image_tag('work/cf-q1-mobile.jpg')
      .item-text
        %h3 Question One
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-q2-desktop.jpg')
        .tab
          = image_tag('work/cf-q2-desktop.jpg')
        .mob
          = image_tag('work/cf-q2-mobile.jpg')
      .item-text
        %h3 Question Two
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-options-desktop.jpg')
        .tab
          = image_tag('work/cf-options-desktop.jpg')
        .mob
          = image_tag('work/cf-options-mobile.jpg')
      .item-text
        %h3 Options
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-results-desktop.jpg')
        .tab
          = image_tag('work/cf-results-desktop.jpg')
        .mob
          = image_tag('work/cf-results-mobile.jpg')
      .item-text
        %h3 Results
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/cf-code-desktop.jpg')
        .tab
          = image_tag('work/cf-code-desktop.jpg')
        .mob
          = image_tag('work/cf-code-mobile.jpg')
      .item-text
        %h3 Usable Code
        -# %p Text
