- content_for :nav_top do
  = partial "shared/arrow_nav"

%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Combofonts
        %h5 Webfont Combination Application
        %p
          %a{:href => 'http://www.combofonts.com', :target => '_blank'}Combofonts
          matches and recommends webfont pairs. It's a personal project I worked on, alongside my product design apprenticeship.
        %p The application asks a series of questions based on the tone and mood of the context the text will be displayed in, provides you with a few combinations of options, and then gives you the markup to copy &amp; paste into any codebase.
        %p
          For the MVP I started with the
          %a{:href => 'https://www.google.com/fonts', :target => '_blank'}Google font library
          , as it's a great free resource.
        %cite
          %ul
            %li
              Design & Front-End:
              %a{:href => "https://twitter.com/jasonakellum", :target => "_blank"}Jason Kellum
            %li
              Development:
              %a{:href => "https://twitter.com/jasoncummings86", :target => "_blank"}Jason Cummings
      .item-image
        = image_tag('work/combofonts-devices.png')
    %article.image
      .item-image.combofonts-toggle
        .combofonts-one
          .desk
            = image_tag('work/cf-splash-desktop.jpg', {:alt => 'Getting Started Screen'})
          .tab
            = image_tag('work/cf-splash-desktop.jpg', {:alt => 'Getting Started Screen'})
          .mob
            = image_tag('work/cf-splash-mobile.jpg', {:alt => 'Getting Started Screen'})
        .combofonts-two.hide
          .desk
            = image_tag('work/cf-q1-desktop.jpg', {:alt => 'Describe Screen'})
          .tab
            = image_tag('work/cf-q1-desktop.jpg', {:alt => 'Describe Screen'})
          .mob
            = image_tag('work/cf-q1-mobile.jpg', {:alt => 'Describe Screen'})
        .combofonts-three.hide
          .desk
            = image_tag('work/cf-q2-desktop.jpg', {:alt => 'Nature Screen'})
          .tab
            = image_tag('work/cf-q2-desktop.jpg', {:alt => 'Nature Screen'})
          .mob
            = image_tag('work/cf-q2-mobile.jpg', {:alt => 'Nature Screen'})
        .combofonts-four.hide
          .desk
            = image_tag('work/cf-options-desktop.jpg', {:alt => 'Options Screen'})
          .tab
            = image_tag('work/cf-options-desktop.jpg', {:alt => 'Options Screen'})
          .mob
            = image_tag('work/cf-options-mobile.jpg', {:alt => 'Options Screen'})
        .combofonts-five.hide
          .desk
            = image_tag('work/cf-results-desktop.jpg', {:alt => 'Results Screen'})
          .tab
            = image_tag('work/cf-results-desktop.jpg', {:alt => 'Results Screen'})
          .mob
            = image_tag('work/cf-results-mobile.jpg', {:alt => 'Results Screen'})
        .combofonts-six.hide
          .desk
            = image_tag('work/cf-code-desktop.jpg', {:alt => 'Usable Code Screen'})
          .tab
            = image_tag('work/cf-code-desktop.jpg', {:alt => 'Usable Code Screen'})
          .mob
            = image_tag('work/cf-code-mobile.jpg', {:alt => 'Usable Code Screen'})
      .item-text
        %h3 In-App Screens
        %p Acting as a educational playground for me, this was one of my first experiences with a Ruby on Rails project. It also gave me an excuse to take a deeper dive into typography on the web.
        %p The largest obstacle was finding a way to provide quality results, while asking the fewest amount of questions necessary.
        %p At the very least, this was a great product design exercise, allowing me to practice the techniques and learnings from my KYN apprenticeship.
        %select.div-toggler{'data-target' => '.combofonts-toggle'}
          %option{'data-show' => '.combofonts-one', :value => 'combofonts-one', :selected => 'selected'} Getting Started
          %option{'data-show' => '.combofonts-two', :value => 'combofonts-two'}  Describe
          %option{'data-show' => '.combofonts-three', :value => 'combofonts-three'} Nature
          %option{'data-show' => '.combofonts-four', :value => 'combofonts-four'}  Options
          %option{'data-show' => '.combofonts-five', :value => 'combofonts-five'}  Results
          %option{'data-show' => '.combofonts-six', :value => 'combofonts-six'}  Usable Code
