- content_for :nav_top do
  = partial "shared/arrow_nav"

%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Matchstiq
        %h5 Vendor Management System
        %p Matchstiq is a simple online tool with collaborative job order management, comprehensive analytics and in-app activity tracking for both hiring managers and recruiters.
        %cite
          %ul
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Design &plus; Front-end:
              %a{:href => "/"}Jason Kellum
            %li
              Development:
              %a{:href => "https://www.linkedin.com/pub/mark-montroy/3/168/841", :target => "_blank"}Mark Montroy
      .item-image
        = image_tag('work/ms-devices.jpg', {:alt => 'Matchstiq Devices'})
    %article.image
      .item-image.matchstiq-toggle
        .matchstiq-one.hide
          .desk
            = image_tag('work/ms-splash-desktop.jpg', {:alt => 'Splash Screen'})
          .tab
            = image_tag('work/ms-splash-tablet.jpg', {:alt => 'Splash Screen'})
          .mob
            = image_tag('work/ms-splash-mobile.jpg', {:alt => 'Splash Screen'})
        .matchstiq-two.hide
          .desk
            = image_tag('work/ms-login-desktop.jpg', {:alt => 'Login Screen'})
          .tab
            = image_tag('work/ms-login-tablet.jpg', {:alt => 'Login Screen'})
          .mob
            = image_tag('work/ms-login-mobile.jpg', {:alt => 'Login Screen'})
        .matchstiq-three
          .desk
            = image_tag('work/ms-dash-desktop.jpg', {:alt => 'Dashboard Screen'})
          .tab
            = image_tag('work/ms-dash-tablet.jpg', {:alt => 'Dashboard Screen'})
          .mob
            = image_tag('work/ms-dash-mobile.jpg', {:alt => 'Dashboard Screen'})
        .matchstiq-four.hide
          .desk
            = image_tag('work/ms-modal-desktop.jpg', {:alt => 'Modals Screen'})
          .tab
            = image_tag('work/ms-modal-tablet.jpg', {:alt => 'Modals Screen'})
          .mob
            = image_tag('work/ms-modal-mobile.jpg', {:alt => 'Modals Screen'})
        .matchstiq-five.hide
          .desk
            = image_tag('work/ms-resources-desktop.jpg', {:alt => 'Resources Screen'})
          .tab
            = image_tag('work/ms-resources-tablet.jpg', {:alt => 'Resources Screen'})
          .mob
            = image_tag('work/ms-resources-mobile.jpg', {:alt => 'Resources Screen'})
      .item-text
        %h3 In App Screens
        -# %p Text
        %select.div-toggler{'data-target' => '.matchstiq-toggle'}
          %option{'data-show' => '.matchstiq-one', :value => 'matchstiq-one'} Login
          %option{'data-show' => '.matchstiq-two', :value => 'matchstiq-two'}  Splash Screens
          %option{'data-show' => '.matchstiq-three', :value => 'matchstiq-three', :selected => 'selected'}  Dashboard
          %option{'data-show' => '.matchstiq-four', :value => 'matchstiq-four'}  Modals
          %option{'data-show' => '.matchstiq-five', :value => 'matchstiq-five'}  Resources
