%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Matchstiq
        %h5 Vendor Management System
        %p Matchstiq is a simple online tool with collaborative job order management, comprehensive analytics and in-app activity tracking for both hiring managers and recruiters.
        %cite
          %ul
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Design &plus; Front-end:
              %a{:href => "/"}Jason Kellum
            %li
              Development:
              %a{:href => "https://www.linkedin.com/pub/mark-montroy/3/168/841", :target => "_blank"}Mark Montroy
      .item-image
        = image_tag('work/ms-devices.gif')
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/ms-dash-desktop.jpg')
        .tab
          = image_tag('work/ms-dash-tablet.jpg')
        .mob
          = image_tag('work/ms-dash-mobile.jpg')
      .item-text
        %h3 Dashboard
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/ms-modal-desktop.jpg')
        .tab
          = image_tag('work/ms-modal-tablet.jpg')
        .mob
          = image_tag('work/ms-modal-mobile.jpg')
      .item-text
        %h3 Modals
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/ms-splash-desktop.jpg')
        .tab
          = image_tag('work/ms-splash-tablet.jpg')
        .mob
          = image_tag('work/ms-splash-mobile.jpg')
      .item-text
        %h3 Splash Screen
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/ms-resources-desktop.jpg')
        .tab
          = image_tag('work/ms-resources-tablet.jpg')
        .mob
          = image_tag('work/ms-resources-mobile.jpg')
      .item-text
        %h3 Resources
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/ms-login-desktop.jpg')
        .tab
          = image_tag('work/ms-login-tablet.jpg')
        .mob
          = image_tag('work/ms-login-mobile.jpg')
      .item-text
        %h3 Login
        -# %p Text
