%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Oppify
        %h5 Personal Job Search Advocate
        -# %p Content soon.
        %cite
          %ul
            %li
              Design:
              %a{:href => "https://twitter.com/amberaultman", :target => "_blank"}Amber Aultman
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Front-End:
              %a{:href => "/"}Jason Kellum
            %li
              Development:
              %a{:href => "https://twitter.com/nateyaconis", :target => "_blank"}Nate Yaconis
      .item-image
        = image_tag('work/oppify-devices.gif')
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/oppify-marketing-desktop.jpg')
        .tab
          = image_tag('work/oppify-marketing-tablet.jpg')
        .mob
          = image_tag('work/oppify-marketing-mobile.jpg')
      .item-text
        %h3 Marketing
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/oppify-signin-desktop.jpg')
        .tab
          = image_tag('work/oppify-signin-tablet.jpg')
        .mob
          = image_tag('work/oppify-signin-mobile.jpg')
      .item-text
        %h3 Sign In
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/oppify-jobs-desktop.jpg')
        .tab
          = image_tag('work/oppify-jobs-tablet.jpg')
        .mob
          = image_tag('work/oppify-jobs-mobile.jpg')
      .item-text
        %h3 Jobs
        -# %p Text
    %article.image
      .item-image.toggle-view
        .desk
          = image_tag('work/oppify-messaging-desktop.jpg')
        .tab
          = image_tag('work/oppify-messaging-tablet.jpg')
        .mob
          = image_tag('work/oppify-messaging-mobile.jpg')
          = image_tag('work/oppify-messaging-mobile2.jpg')
      .item-text
        %h3 Messaging
        -# %p Text
    %article.image
      .item-image
        = image_tag('work/oppify-meetup.jpg')
      .item-text
        %h3 Meetup Flyer
        -# %p Text
    %article.image
      .item-image
        = image_tag('work/oppify-email.jpg')
      .item-text
        %h3 Email Template
        -# %p Text
