- content_for :nav_top do
  = partial "shared/arrow_nav"

%section.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Oppify
        %h5 Your Personal Job Search Advocate
        %p
          Oppify attempted to close the communication gap between recruiters and candidates. Empowering candidates with the visibility to browse, search, and apply for available
          %a{:href => "http://www.adecco.com/", :target => "_blank"}Adecco
          positions; All while feeling engaged by curated content and coaching from our recruiting and hiring experts. The ultimate goal was to transform their careers.
        %cite
          %ul
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Design:
              %a{:href => "https://twitter.com/amberaultman", :target => "_blank"}Amber Aultman
            %li
              Front-End:
              %a{:href => "/"}Jason Kellum
            %li
              Development:
              %a{:href => "https://twitter.com/nateyaconis", :target => "_blank"}Nate Yaconis
      .item-image
        = image_tag('work/oppify-devices.jpg', {:alt => 'Oppify Devices'})
    %article.image
      .item-image.oppify-toggle
        .oppify-one.hide
          .desk
            = image_tag('work/oppify-marketing-desktop.jpg', {:alt => 'Marketing Screen'})
          .tab
            = image_tag('work/oppify-marketing-tablet.jpg', {:alt => 'Marketing Screen'})
          .mob
            = image_tag('work/oppify-marketing-mobile.jpg', {:alt => 'Marketing Screen'})
        .oppify-two.hide
          .desk
            = image_tag('work/oppify-signin-desktop.jpg', {:alt => 'Sign In Screen'})
          .tab
            = image_tag('work/oppify-signin-tablet.jpg', {:alt => 'Sign In Screen'})
          .mob
            = image_tag('work/oppify-signin-mobile.jpg', {:alt => 'Sign In Screen'})
        .oppify-three
          .desk
            = image_tag('work/oppify-jobs-desktop.jpg', {:alt => 'Jobs Screen'})
          .tab
            = image_tag('work/oppify-jobs-tablet.jpg', {:alt => 'Jobs Screen'})
          .mob
            = image_tag('work/oppify-jobs-mobile.jpg', {:alt => 'Jobs Screen'})
        .oppify-four.hide
          .desk
            = image_tag('work/oppify-messaging-desktop.jpg', {:alt => 'Messaging Screen'})
          .tab
            = image_tag('work/oppify-messaging-tablet.jpg', {:alt => 'Messaging Screen'})
          .mob
            = image_tag('work/oppify-messaging-mobile.jpg', {:alt => 'Messaging Screen'})
            = image_tag('work/oppify-messaging-mobile2.jpg', {:alt => 'Messaging Screen'})
        .oppify-five.hide
          = image_tag('work/oppify-email.jpg', {:alt => 'Email Template Screen'})
      .item-text
        %h3 In-App Screens
        %p
          This was my first project and team I was assigned to at
          %a{:href => "http://www.ignitewithus.com/", :target => "_blank"}Ignite
          &period; I was brought in to assist in the front-end development, as the project suffered from a lot of technical debt. My plan of attack was to setup a UI controller where I would simply rebuild the pages optimally; in my own, less logic heavy, environment.
        %p After cleaning up most of the debt, I was able to switch gears and assist in the creation of new features; such as, the job board and messaging.
        %select.div-toggler{'data-target' => '.oppify-toggle'}
          %option{'data-show' => '.oppify-one', :value => 'oppify-one'} Marketing
          %option{'data-show' => '.oppify-two', :value => 'oppify-two'}  Sign In
          %option{'data-show' => '.oppify-three', :value => 'oppify-three', :selected => 'selected'}  Jobs
          %option{'data-show' => '.oppify-four', :value => 'oppify-four'}  Messaging
          %option{'data-show' => '.oppify-five', :value => 'oppify-five'}  Email Template
    %article.image
      .item-image.oppify-toggle-2
        .oppify-six
          = image_tag('work/oppify-meetup.jpg', {:alt => 'Oppify Meetup Flyer'})
        .oppify-seven.hide
          = image_tag("work/oppify-recruiter-do's-don'ts-front.jpg", {:alt => "Oppify Recruiter Do's and Don'ts Front Page"})
        .oppify-eight.hide
          = image_tag("work/oppify-recruiter-do's-don'ts-back.jpg", {:alt => "Oppify Recruiter Do's and Don'ts Back Page"})
      .item-text
        %h3 Print-outs
        %p There came times where I was able work on printable items, such as, this branded flyer that promoted a networking event we hosted to speak directly with our constituents. We hung them in co-working spaces and outside offices around downtown.
        %p Other tasks included simple, self-printable resources the recruiting offices could print out on their own and share.
        %select.div-toggler{'data-target' => '.oppify-toggle-2'}
          %option{'data-show' => '.oppify-six', :value => 'oppify-six', :selected => 'selected'} Meetup Flyer
          %option{'data-show' => '.oppify-seven', :value => 'oppify-seven'}  Recruiter Do's and Don'ts (Front Page)
          %option{'data-show' => '.oppify-eight', :value => 'oppify-eight'}  Recruiter Do's and Don'ts (Back Page)
