- content_for :nav_top do
  = partial "shared/arrow_nav"

%section.txtout.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 TxtOut
        %h5 Attendance Tracking Tool
        %p
          Created to relieve a business pain-point,
          %a{:href => "http://www.ignitewithus.com/products/txtout", :target => "_blank"}TxtOut
          replaced an outdated voice-mail center used by Nike and eBay manufacturing warehouses.
        %p Associates can call-out and, for the first time, text-out tardy or absent. For the staffing agency, it frees associates from manually transcribing voicemails and provides them with searchable, digital attendance reports.
        %cite
          %ul
            %li
              Content:
              %a{:href => "http://www.acqylla.com/", :target => "_blank"}Jen Hyde
            %li
              Design &plus; Front-end:
              %a{:href => "/"}Jason Kellum
            %li
              Development:
              %a{:href => "https://www.linkedin.com/pub/mark-montroy/3/168/841", :target => "_blank"}Mark Montroy
      .item-image
        = image_tag('work/txtout-devices.gif', {:alt => 'TxtOut Devices'})
    %article.image
      .item-image.txtout-toggle
        .txtout-one
          .desk
            = image_tag('work/txtout-dash-desktop.jpg', {:alt => 'Dashboard Screen'})
          .tab
            = image_tag('work/txtout-dash-tablet.jpg', {:alt => 'Dashboard Screen'})
          .mob
            = image_tag('work/txtout-dash-mobile.jpg', {:alt => 'Dashboard Screen'})
        .txtout-two.hide
          .desk
            = image_tag('work/txtout-admin-desktop.jpg', {:alt => 'Admin Screen'})
          .tab
            = image_tag('work/txtout-admin-tablet.jpg', {:alt => 'Admin Screen'})
          .mob
            = image_tag('work/txtout-admin-mobile.jpg', {:alt => 'Admin Screen'})
        .txtout-three.hide
          .desk
            = image_tag('work/txtout-login-desktop.jpg', {:alt => 'Login Screen'})
          .tab
            = image_tag('work/txtout-login-tablet.jpg', {:alt => 'Login Screen'})
          .mob
            = image_tag('work/txtout-login-mobile.jpg', {:alt => 'Login Screen'})
        .txtout-four.hide
          .desk
            = image_tag('work/txtout-forgotpw-desktop.jpg', {:alt => 'Forgot Password Screen'})
          .tab
            = image_tag('work/txtout-forgotpw-tablet.jpg', {:alt => 'Forgot Password Screen'})
          .mob
            = image_tag('work/txtout-forgotpw-mobile.jpg', {:alt => 'Forgot Password Screen'})
      .item-text
        %h3 In-App Screens
        %p Upon returning from the end of the year holidays, I was a part of a team formed to create TxtOut. It was a fast-paced, 3-month initiative with the goal of creating an interface for a well-performing, quickly hacked together system.
        %p The interface consisted of a general dashboard displaying call-outs for individual branches, along with authentication and admin pages.
        %p
          This project continued on to become one of
          %a{:href => "http://www.ignitewithus.com/", :target => "_blank"}Ignite
          's most successful tools, later receiving a larger budget and timeframe to add additional features.
        %select.div-toggler{'data-target' => '.txtout-toggle'}
          %option{'data-show' => '.txtout-one', :value => 'txtout-one'} Dashboard
          %option{'data-show' => '.txtout-two', :value => 'txtout-two'} Admin
          %option{'data-show' => '.txtout-three', :value => 'txtout-three'} Login
          %option{'data-show' => '.txtout-four', :value => 'txtout-four'} Forgot Password
