- content_for :nav_top do
  = partial "shared/arrow_nav"

%section.wayfind.m-project-layout
  .wrapper.m-page.scene_element.scene_element--fadeinright
    %article.intro
      .item-text
        %h2 Wayfind
        %h5 Career Pathing Tool
        %p
          %a{:href => "http://www.wayfind.to", :target => "_blank"}Wayfind
          is a user-friendly, cloud-based application that helps businesses retain and develop employees by empowering them to discover roles best suited to their personality and interests so they can create their own custom career path within their organization.
        %p
          Read more about how and why we choose to create this product
          %a{:href => "http://blog.ignitewithus.com/wayfind-millennial-career-path/", :target => "_blank"} here
          and
          %a{:href => "http://blog.ignitewithus.com/hr-tech/", :target => "_blank"} here
          &period;
        %cite
          %ul
            %li
              Project Management:
              %a{:href => "http://www.linkedin.com/in/jessicabrooks1", :target => "_blank"}Jessica Brooks
            %li
              Content:
              %a{:href => "http://blog.ignitewithus.com/author/jboz/", :target => "_blank"}Jon Bosworth
            %li
              Design &plus; Front-end:
              %a{:href => "/"}Jason Kellum
              &plus;
              %a{:href => "https://twitter.com/amberaultman", :target => "_blank"}Amber Aultman
            %li
              Development:
              %a{:href => "https://www.linkedin.com/pub/mark-montroy/3/168/841", :target => "_blank"}Mark Montroy
              &plus;
              %a{:href => "https://twitter.com/ianfiske", :target => "_blank"}Ian Fiske
      .item-image
        %video{ :id => "video", :loop => "true", :autoplay => "true", :poster => image_path('work/wayfind-onboarding.jpg')}
          %source{ :src => image_path('videos/wayfind-onboarding.mp4'), :type => "video/mp4"}
          %source{ :src => image_path('videos/wayfind-onboarding.webm'), :type => "video/webm"}
          = image_tag('work/wayfind-onboarding.jpg', {:alt => 'Wayfind Onboarding Flow'})
    %article.image
      .item-image.wayfind-toggle-2
        .wayfind-eight.hide
          .desk
            = image_tag('work/wayfind-login-desktop.jpg', {:alt => 'Login Screen'})
          .tab
            = image_tag('work/wayfind-login-tablet.jpg', {:alt => 'Login Screen'})
          .mob
            = image_tag('work/wayfind-login-mobile.jpg', {:alt => 'Login Screen'})
        .wayfind-nine.hide
          .desk
            = image_tag('work/wayfind-forgotpw-desktop.jpg', {:alt => 'Forgot Password Screen'})
          .tab
            = image_tag('work/wayfind-forgotpw-tablet.jpg', {:alt => 'Forgot Password Screen'})
          .mob
            = image_tag('work/wayfind-forgotpw-mobile.jpg', {:alt => 'Forgot Password Screen'})
        .wayfind-ten.hide
          .desk
            = image_tag('work/wayfind-marketing-desktop.jpg', {:alt => 'Marketing Screen'})
          .tab
            = image_tag('work/wayfind-marketing-tablet.jpg', {:alt => 'Marketing Screen'})
          .mob
            = image_tag('work/wayfind-marketing-mobile.jpg', {:alt => 'Marketing Screen'})
        .wayfind-eleven
          .desk
            = image_tag('work/wayfind-recommended-desktop.jpg', {:alt => 'Recommended Screen'})
          .tab
            = image_tag('work/wayfind-recommended-tablet.jpg', {:alt => 'Recommended Screen'})
          .mob
            = image_tag('work/wayfind-recommended-mobile.jpg', {:alt => 'Recommended Screen'})
        .wayfind-twelve.hide
          .desk
            = image_tag('work/wayfind-channel-desktop.jpg', {:alt => 'Channel Screen'})
          .tab
            = image_tag('work/wayfind-channel-tablet.jpg', {:alt => 'Channel Screen'})
          .mob
            = image_tag('work/wayfind-channel-mobile.jpg', {:alt => 'Channel Screen'})
        .wayfind-thirteen.hide
          .desk
            = image_tag('work/wayfind-role-details-desktop.jpg', {:alt => 'Role Details Screen'})
          .tab
            = image_tag('work/wayfind-role-details-tablet.jpg', {:alt => 'Role Details Screen'})
          .mob
            = image_tag('work/wayfind-role-details-mobile.jpg', {:alt => 'Role Details Screen'})
        .wayfind-fourteen.hide
          .desk
            = image_tag('work/wayfind-open-positions-desktop.jpg', {:alt => 'Open Positions Screen'})
          .tab
            = image_tag('work/wayfind-open-positions-tablet.jpg', {:alt => 'Open Positions Screen'})
          .mob
            = image_tag('work/wayfind-open-positions-mobile.jpg', {:alt => 'Open Positions Screen'})
        .wayfind-fifteen.hide
          .desk
            = image_tag('work/wayfind-plan-steps-desktop.jpg', {:alt => 'Plan Steps Screen'})
          .tab
            = image_tag('work/wayfind-plan-steps-tablet.jpg', {:alt => 'Plan Steps Screen'})
          .mob
            = image_tag('work/wayfind-plan-steps-mobile.jpg', {:alt => 'Plan Steps Screen'})
        .wayfind-sixteen.hide
          .desk
            = image_tag('work/wayfind-plan-overview-desktop.jpg', {:alt => 'Plan Overview Screen'})
          .tab
            = image_tag('work/wayfind-plan-overview-tablet.jpg', {:alt => 'Plan Overview Screen'})
          .mob
            = image_tag('work/wayfind-plan-overview-mobile.jpg', {:alt => 'Plan Overview Screen'})
        .wayfind-seventeen.hide
          .desk
            = image_tag('work/wayfind-browse-desktop.jpg', {:alt => 'Browse Screen'})
          .tab
            = image_tag('work/wayfind-browse-tablet.jpg', {:alt => 'Browse Screen'})
          .mob
            = image_tag('work/wayfind-browse-mobile.jpg', {:alt => 'Browse Screen'})
        .wayfind-eighteen.hide
          .desk
            = image_tag('work/wayfind-search-desktop.jpg', {:alt => 'Search Screen'})
          .tab
            = image_tag('work/wayfind-search-tablet.jpg', {:alt => 'Search Screen'})
          .mob
            = image_tag('work/wayfind-search-mobile.jpg', {:alt => 'Search Screen'})
        .wayfind-nineteen.hide
          .desk
            = image_tag('work/wayfind-profile-tab1-desktop.jpg', {:alt => 'Profile Account Details Screen'})
          .tab
            = image_tag('work/wayfind-profile-tab1-tablet.jpg', {:alt => 'Profile Account Details Screen'})
          .mob
            = image_tag('work/wayfind-profile-tab1-mobile.jpg', {:alt => 'Profile Account Details Screen'})
        .wayfind-twenty.hide
          .desk
            = image_tag('work/wayfind-profile-tab2-desktop.jpg', {:alt => 'Profile Work Personality Screen'})
          .tab
            = image_tag('work/wayfind-profile-tab2-tablet.jpg', {:alt => 'Profile Work Personality Screen'})
          .mob
            = image_tag('work/wayfind-profile-tab2-mobile.jpg', {:alt => 'Profile Work Personality Screen'})
        .wayfind-twentyone.hide
          .desk
            = image_tag('work/wayfind-profile-tab3-desktop.jpg', {:alt => 'Profile Background &amp; Skills Screen'})
          .tab
            = image_tag('work/wayfind-profile-tab3-tablet.jpg', {:alt => 'Profile Background & Skills Screen'})
          .mob
            = image_tag('work/wayfind-profile-tab3-mobile.jpg', {:alt => 'Profile Background & Skills Screen'})
        .wayfind-twentytwo.hide
          .desk
            = image_tag('work/wayfind-profile-tab4-desktop.jpg', {:alt => 'Profile Interests Screen'})
          .tab
            = image_tag('work/wayfind-profile-tab4-tablet.jpg', {:alt => 'Profile Interests Screen'})
          .mob
            = image_tag('work/wayfind-profile-tab4-mobile.jpg', {:alt => 'Profile Interests Screen'})
        .wayfind-twentythree.hide
          .desk
            = image_tag('work/wayfind-profile-tab5-desktop.jpg', {:alt => 'Profile Notification Preferences Screen'})
          .tab
            = image_tag('work/wayfind-profile-tab5-tablet.jpg', {:alt => 'Profile Notification Preferences Screen'})
          .mob
            = image_tag('work/wayfind-profile-tab5-mobile.jpg', {:alt => 'Profile Notification Preferences Screen'})
      .item-text
        %h3 In-App Screens
        %p Users can search for roles through one of our recommended channels, browse through categories, or search for something more specific. As they're browsing, they can save multiple roles that catch their interest to act upon at a later time.
        %p Once they find a desired role, they can create a plan. This feature helps them choose a personalited career path leading them to their desired role, gaining the skills and experience they need along the way.
        %p Profile pages are alternative versions of the onboarding questions, allowing users to re-adjust their profile to increase the accuracy of our recommendations.
        %select.div-toggler{'data-target' => '.wayfind-toggle-2'}
          %option{'data-show' => '.wayfind-eight', :value => 'wayfind-eight'} Login
          %option{'data-show' => '.wayfind-nine', :value => 'wayfind-nine'} Forgot Password
          %option{'data-show' => '.wayfind-ten', :value => 'wayfind-ten'} Marketing
          %option{'data-show' => '.wayfind-eleven', :value => 'wayfind-eleven', :selected => 'selected'} Recommended
          %option{'data-show' => '.wayfind-twelve', :value => 'wayfind-twelve'} Channel
          %option{'data-show' => '.wayfind-thirteen', :value => 'wayfind-thirteen'} Role Details
          %option{'data-show' => '.wayfind-fourteen', :value => 'wayfind-fourteen'} Open Positions
          %option{'data-show' => '.wayfind-fifteen', :value => 'wayfind-fifteen'} Plan Steps
          %option{'data-show' => '.wayfind-sixteen', :value => 'wayfind-sixteen'} Plan Overview
          %option{'data-show' => '.wayfind-seventeen', :value => 'wayfind-seventeen'} Browse
          %option{'data-show' => '.wayfind-eighteen', :value => 'wayfind-eighteen'} Search
          %option{'data-show' => '.wayfind-nineteen', :value => 'wayfind-nineteen'} Profile Account Details
          %option{'data-show' => '.wayfind-twenty', :value => 'wayfind-twenty'} Profile Work Personality
          %option{'data-show' => '.wayfind-twentyone', :value => 'wayfind-twentyone'} Profile Background & Skills
          %option{'data-show' => '.wayfind-twentytwo', :value => 'wayfind-twentytwo'} Profile Interests
          %option{'data-show' => '.wayfind-twentythree', :value => 'wayfind-twentythree'} Profile Notification Preferences
    %article.image
      .item-image.wayfind-toggle
        .wayfind-one
          .desk
            = image_tag('work/wayfind-onboarding-intro-desktop.jpg', {:alt => 'Onboarding Intro Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-intro-tablet.jpg', {:alt => 'Onboarding Intro Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-intro-mobile.jpg', {:alt => 'Onboarding Intro Screen'})
        .wayfind-two.hide
          .desk
            = image_tag('work/wayfind-onboarding-step1-desktop.jpg', {:alt => 'Onboarding Personality Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-step1-tablet.jpg', {:alt => 'Onboarding Personality Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-step1-mobile.jpg', {:alt => 'Onboarding Personality Screen'})
        .wayfind-three.hide
          .desk
            = image_tag('work/wayfind-onboarding-step2-desktop.jpg', {:alt => 'Onboarding Background Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-step2-tablet.jpg', {:alt => 'Onboarding Background Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-step2-mobile.jpg', {:alt => 'Onboarding Background Screen'})
        .wayfind-four.hide
          .desk
            = image_tag('work/wayfind-onboarding-step3-desktop.jpg', {:alt => 'Onboarding Skills Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-step3-tablet.jpg', {:alt => 'Onboarding Skills Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-step3-mobile.jpg', {:alt => 'Onboarding Skills Screen'})
        .wayfind-five.hide
          .desk
            = image_tag('work/wayfind-onboarding-step4-desktop.jpg', {:alt => 'Onboarding Interests Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-step4-tablet.jpg', {:alt => 'Onboarding Interests Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-step4-mobile.jpg', {:alt => 'Onboarding Interests Screen'})
        .wayfind-six.hide
          .desk
            = image_tag('work/wayfind-onboarding-step5-desktop.jpg', {:alt => 'Onboarding Save Profile Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-step5-tablet.jpg', {:alt => 'Onboarding Save Profile Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-step5-mobile.jpg', {:alt => 'Onboarding Save Profile Screen'})
        .wayfind-seven.hide
          .desk
            = image_tag('work/wayfind-onboarding-completed-desktop.jpg', {:alt => 'Onboarding Success Screen'})
          .tab
            = image_tag('work/wayfind-onboarding-completed-tablet.jpg', {:alt => 'Onboarding Success Screen'})
          .mob
            = image_tag('work/wayfind-onboarding-completed-mobile.jpg', {:alt => 'Onboarding Success Screen'})
      .item-text
        %h3 Onboarding Flow
        %p
          Email invites are sent out by a company's HR department, where users are directed to a brief
          %a{:href => "https://en.wikipedia.org/wiki/Myers%E2%80%93Briggs_Type_Indicator", :target => "_blank"}Myers–Briggs
          style questionare. Here we gathered the minimun amount of information we felt that was needed for our alorgithum to help employees find their dream job. What you see to the left are the results of outcomes we learned from our user interview sessions.
        %select.div-toggler{'data-target' => '.wayfind-toggle'}
          %option{'data-show' => '.wayfind-one', :value => 'wayfind-one'} Onboarding Intro
          %option{'data-show' => '.wayfind-two', :value => 'wayfind-two'} Onboarding Personality
          %option{'data-show' => '.wayfind-three', :value => 'wayfind-three'} Onboarding Background
          %option{'data-show' => '.wayfind-four', :value => 'wayfind-four'} Onboarding Skills
          %option{'data-show' => '.wayfind-five', :value => 'wayfind-five'} Onboarding Interests
          %option{'data-show' => '.wayfind-six', :value => 'wayfind-six'} Onboarding Save Profile
          %option{'data-show' => '.wayfind-seven', :value => 'wayfind-seven'} Onboarding Success
    %article.image
      .item-image.toggle-view
        = image_tag('work/wayfind-invision.gif', {:alt => 'InVision Prototype'})
      .item-text
        %h3 InVision Prototype
        %p The team used InVision as common ground where we could review concepts and host discussions about the product efficiently. Linking my Sketch artboards directly to the project, I was able to quickly share revisions with the team (plus it let everyone always have my most recent version).
